*{
    padding: 0%;
    margin: 0%; 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    
    
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(rgba(1,1,1,0.9), rgba(1,1,1,0.9)), url("assets/code.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover
}
nav{
    background-color: slategray;
    height: 70px ;
    width: 100%;
    
}

.logo{
    color: lightgoldenrodyellow;
    font-size: 40px;
    padding-left: 0 100px ;
    line-height: 75px;
}    

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline;
    line-height:70px;
    margin: 0 5px;
}

nav ul li a{
    display: inline;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
}

a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}

.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px ;
}
.name{
    margin-left: auto;
    margin-right: auto ;
    border-radius: 15px 50px 30px;
    font-weight: 100;
    width: 280px;
    height: 40px;
}

a {
    color: white;
    text-decoration: none;
  }
  .position{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  img {
    margin-right: 10px;
    margin-left: 20px;
 }
 .img_caption {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  